{% extends 'cbe_app/base.html' %} {% load static %} {% block content %}

<!-- Hero Start -->
<div
    class="hero"
    style="background-image: url(../static/cbe_app/images/hero.jpeg);"
>
    <div class="hero-container">
        <div class="hero-text">
            Be part of the <br />
            world’s biggest offline<br />
            data science community
        </div>
        <div class="btn-container">
            <button class="btn">Join us</button>
        </div>
    </div>
</div>
<!-- End Hero -->

<!-- Mission Start -->
<main>
    <div class="card" id="mission">
        <h1 class="subtitle">OUR MISSION</h1>
        <div class="event">
            <i class="material-icons event-icon">event_note</i>
        </div>
        <div class="mission-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
            accusantium voluptates esse eveniet, deserunt delectus magnam est a
            reiciendis! Optio fugit praesentium alias ipsum impedit blanditiis
            veritatis eum sed autem, expedita, consectetur nemo? Eligendi cum
            magni soluta eum numquam. Dolore minus ullam, consequuntur suscipit
            deserunt, neque nisi repellendus porro perspiciatis omnis libero
            ipsum tempora odit. Nihil animi voluptate alias nam consequatur
            tempora consequuntur omnis. Magni fuga molestias beatae cupiditate
            explicabo amet neque voluptatibus voluptatum est reprehenderit,
            maxime nihil. Sit voluptatum in nihil asperiores expedita doloribus
            minus voluptas quod explicabo corporis modi reiciendis nulla,
            praesentium soluta quidem quisquam id sunt corrupti architecto amet
            natus blanditiis rerum recusandae necessitatibus! Laudantium
            expedita veritatis nesciunt autem recusandae? Veritatis, porro
            corrupti aut, accusamus similique quidem temporibus asperiores
            praesentium excepturi aliquid fugit corporis assumenda laborum?
            Cumque, esse doloremque distinctio beatae quas error, aperiam facere
            unde voluptates ex voluptatibus itaque id fugiat, consequatur nisi
            explicabo ut a amet molestiae quod dolorum! Molestiae quisquam quas
            vitae ea quae, aperiam, odio saepe et quibusdam voluptate dolorem
            fugit dignissimos! Harum rem voluptas voluptatum incidunt
            exercitationem dolorem velit ea, temporibus non nobis sunt, fugit
            omnis voluptates dolorum eum error eaque repellat molestias ut.
            Suscipit commodi reprehenderit laboriosam iusto sint blanditiis
            aliquid!
        </div>
    </div>

    <!-- End Mission  -->

    <h1 class="subtitle" id="team">OUR TEAM</h1>
    <div>
        <div class="members">
            <div class="member-container">
                <img
                    src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                    alt="vishnu"
                    class="member-img"
                />
                <div class="member-content">
                    <div class="name">Vishnu Varthan</div>
                    <div class="icons">
                        <img
                            src="{% static 'cbe_app/images/github.png' %}"
                            alt="github"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/linkedin.png' %}"
                            alt="linkedin"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/twitter.png' %}"
                            alt="twitter"
                            class="icon"
                        />
                    </div>
                </div>
            </div>
            <div class="member-container">
                <img
                    src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                    alt="vishnu"
                    class="member-img"
                />
                <div class="member-content">
                    <div class="name">Vishnu Varthan</div>
                    <div class="icons">
                        <img
                            src="{% static 'cbe_app/images/github.png' %}"
                            alt="github"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/linkedin.png' %}"
                            alt="linkedin"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/twitter.png' %}"
                            alt="twitter"
                            class="icon"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="members">
            <div class="member-container">
                <img
                    src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                    alt="vishnu"
                    class="member-img"
                />
                <div class="member-content">
                    <div class="name">Vishnu Varthan</div>
                    <div class="icons">
                        <img
                            src="{% static 'cbe_app/images/github.png' %}"
                            alt="github"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/linkedin.png' %}"
                            alt="linkedin"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/twitter.png' %}"
                            alt="twitter"
                            class="icon"
                        />
                    </div>
                </div>
            </div>

            <div class="member-container">
                <img
                    src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                    alt="vishnu"
                    class="member-img"
                />
                <div class="member-content">
                    <div class="name">Vishnu Varthan</div>
                    <div class="icons">
                        <img
                            src="{% static 'cbe_app/images/github.png' %}"
                            alt="github"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/linkedin.png' %}"
                            alt="linkedin"
                            class="icon"
                        />
                        <img
                            src="{% static 'cbe_app/images/twitter.png' %}"
                            alt="twitter"
                            class="icon"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="subtitle">UPCOMING EVENTS</h1>
    <div class="events">
        <div class="event-card">
            <img
                src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                alt=""
                class="event-image"
            />
            <div class="date">
                <div style="text-align: center;">Mar</div>
                <div style="text-align: center;">28</div>
            </div>
            <div class="event-content">
                <h1 class="event-title">First Event</h1>
                <p class="event-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laudantium magni beatae neque nesciunt ipsam cum, assumenda
                    quod nobis temporibus libero repellendus enim dolorem cumque
                    iste minus. Quasi, reprehenderit voluptatibus quae minima
                    harum aperiam quidem mollitia consequatur optio sequi
                    eligendi quis?
                </p>
            </div>
        </div>
        <div class="event-card">
            <img
                src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                alt=""
                class="event-image"
            />
            <div class="date">
                <div style="text-align: center;">Mar</div>
                <div style="text-align: center;">28</div>
            </div>
            <div class="event-content">
                <h1 class="event-title">First Event</h1>
                <p class="event-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laudantium magni beatae neque nesciunt ipsam cum, assumenda
                    quod nobis temporibus libero repellendus enim dolorem cumque
                    iste minus. Quasi, reprehenderit voluptatibus quae minima
                    harum aperiam quidem mollitia consequatur optio sequi
                    eligendi quis?
                </p>
            </div>
        </div>
        <div class="event-card">
            <img
                src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                alt=""
                class="event-image"
            />
            <div class="date">
                <div style="text-align: center;">Mar</div>
                <div style="text-align: center;">28</div>
            </div>
            <div class="event-content">
                <h1 class="event-title">First Event</h1>
                <p class="event-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laudantium magni beatae neque nesciunt ipsam cum, assumenda
                    quod nobis temporibus libero repellendus enim dolorem cumque
                    iste minus. Quasi, reprehenderit voluptatibus quae minima
                    harum aperiam quidem mollitia consequatur optio sequi
                    eligendi quis?
                </p>
            </div>
        </div>
        <div class="event-card">
            <img
                src="https://romantic-neumann-d2a8b4.netlify.app/images/team/vishnu.jpeg"
                alt=""
                class="event-image"
            />
            <div class="date">
                <div style="text-align: center;">Mar</div>
                <div style="text-align: center;">28</div>
            </div>
            <div class="event-content">
                <h1 class="event-title">First Event</h1>
                <p class="event-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laudantium magni beatae neque nesciunt ipsam cum, assumenda
                    quod nobis temporibus libero repellendus enim dolorem cumque
                    iste minus. Quasi, reprehenderit voluptatibus quae minima
                    harum aperiam quidem mollitia consequatur optio sequi
                    eligendi quis?
                </p>
            </div>
        </div>
    </div>
    <h1 class="subtitle" id="contact">CONTACT US</h1>

    <form action="" method="post">
        <div class="contact">
            <input type="text" class="top" placeholder="Enter email" />
            <input type="text" class="top" placeholder="Enter name" />
            <textarea
                cols="30"
                rows="10"
                class="bottom"
                placeholder="Enter message"
            ></textarea>
            <button class="submit">Submit</button>
        </div>
    </form>

    <!-- End Team -->
</main>
<footer>
  <div class="gutter"></div>
    <div class="fotter-content">
      <div>Made with love R.Vignesh</div> </div>
    <div class="footer-icons">
        <img
            src="{% static 'cbe_app/images/github.png' %}"
            alt="github"
            class="footer-icon"
        />
        <img
            src="{% static 'cbe_app/images/linkedin.png' %}"
            alt="linkedin"
            class="footer-icon"
        />
        <img
            src="{% static 'cbe_app/images/twitter.png' %}"
            alt="twitter"
            class="footer-icon"
        />
    </div>
</footer>
{%endblock %}
